*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

.vs/

*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
*.vcxproj.user

*.db
*.opendb
*.dbmdl
*.sdf
*.iobj
*.ipdb

[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
[Oo]bj/
[Bb]in/
out/
CMakeCache.txt
CMakeFiles/

.DS_Store
Thumbs.db
ehthumbs.db

UnityProject/UnityBindlessSample/[Ll]ibrary/
UnityProject/UnityBindlessSample/[Tt]emp/
UnityProject/UnityBindlessSample/[Oo]bj/
UnityProject/UnityBindlessSample/[Bb]uild/
UnityProject/UnityBindlessSample/[Bb]uilds/
UnityProject/UnityBindlessSample/[Ll]ogs/
UnityProject/UnityBindlessSample/[Uu]ser[Ss]ettings/
UnityProject/UnityBindlessSample/[Mm]emoryCaptures/

UnityProject/UnityBindlessSample/**/*.csproj
UnityProject/UnityBindlessSample/**/*.unityproj
UnityProject/UnityBindlessSample/**/*.sln
UnityProject/UnityBindlessSample/**/*.suo
UnityProject/UnityBindlessSample/**/*.tmp
UnityProject/UnityBindlessSample/**/*.user
UnityProject/UnityBindlessSample/**/*.userprefs
UnityProject/UnityBindlessSample/**/*.pidb
UnityProject/UnityBindlessSample/**/*.booproj
UnityProject/UnityBindlessSample/**/*.svd
UnityProject/UnityBindlessSample/**/*.pdb
UnityProject/UnityBindlessSample/**/*.mdb
UnityProject/UnityBindlessSample/**/*.opendb
UnityProject/UnityBindlessSample/**/*.VC.db

UnityProject/UnityBindlessSample/**/*.pidb.meta
UnityProject/UnityBindlessSample/**/*.pdb.meta
UnityProject/UnityBindlessSample/**/*.mdb.meta

UnityProject/UnityBindlessSample/crashlytics-build.properties